---
import RoundedInput from "./small-components/RoundedInput.astro";
import { Image } from "astro:assets";

import instagram from '../images/icons/instagram.svg'
import linkedin from '../images/icons/linkedin.svg'
import facebook from '../images/icons/facebook.svg'
import mascote from "../images/icons/mascote.svg"

const menus = [
    {
        label: 'Sobre',
        children: [
            {
                label: 'Partners',
                link: '/partners'
            },
            {
                label: 'Ecossistema',
                link: '/ecossistema'
            }
        ]
    },
    {
        label: 'Suporte',
        children: [
            {
                label: 'Entre em contato',
                link: '/contato'
            },
            {
                label: 'FAQ',
                link: '/faq'
            }
        ]
    }
]

const socialMedias = [
    {
        label: 'Instagram',
        image: instagram,
        link: '/startup'
    },
    {
        label: 'LinkedIn',
        image: linkedin,
        link: '/startup'
    },
    {
        label: 'Facebook',
        image: facebook,
        link: '/startup'
    }
]
---
<footer class="flex flex-col space-y-8 bg-rich-black text-sextiary/80 container mx-auto py-10">
    <div class="grid grid-cols-1 items-center gap-8 lg:grid-cols-2 lg:gap-24 lg:flex-row">
        <div class="flex flex-col space-y-4 lg:space-x-6">
            <div class="flex flex-col space-y-4 lg:items-center lg:space-x-6 lg:flex-row">
                <Image src={mascote} alt="Imagem mascote tucano" width="65" height="65" />
                <div class="flex flex-col space-y-2 lg:space-y-4">
                    <h2 class="text-[22px] font-black">Mantenha-se no <strong class="text-quaternary uppercase">Tucont</strong></h2>
                    <p>
                        Se inscreva na nossa lista de e-mail e tenha acesso a notícias e novidades do projeto em primeira mão
                    </p>
                </div>
            </div>
            <form class="pt-4 xl:pt-6" action="#">
                <RoundedInput customClass="max-w-[400px]" type="email" required={true}>
                    <button type="submit" slot="right" class="bg-sextiary/20 flex items-center justify-center h-10 w-10 lg:h-14 lg:w-14 rounded-full">
                        <svg width="35" height="24" viewBox="0 0 35 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5L2 10.5ZM34.0607 13.0607C34.6464 12.4749 34.6464 11.5251 34.0607 10.9393L24.5147 1.3934C23.9289 0.807614 22.9792 0.807614 22.3934 1.3934C21.8076 1.97919 21.8076 2.92893 22.3934 3.51472L30.8787 12L22.3934 20.4853C21.8076 21.0711 21.8076 22.0208 22.3934 22.6066C22.9792 23.1924 23.9289 23.1924 24.5147 22.6066L34.0607 13.0607ZM2 13.5L33 13.5L33 10.5L2 10.5L2 13.5Z" fill="#E2F3F5" fill-opacity="0.7"/>
                        </svg>
                    </button>
                </RoundedInput>
            </form>
        </div>
        <div class="flex flex-col space-y-8">
            <div class="grid grid-cols-2 lg:flex lg:justify-between">
                { 
                    menus.map(group => (
                        <div class="flex flex-col mt-3">
                            <h2 class="font-extrabold text-2xl">{ group.label }</h2>
                            <ul class="flex flex-col mt-2 space-y-2">
                                {
                                    group.children.map(item => (
                                        <li class="font-semibold">
                                            <a href={item.link}>{item.label}</a>
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>
                    ))
                }
            </div>
            <ul class="flex items-center space-x-4 lg:justify-around">
                {
                    socialMedias.map(socialMedia => (
                        <li class="flex">
                            <a class="p-3 rounded-full bg-social-media" href={socialMedia.link}>
                                <Image src={socialMedia.image} alt={socialMedia.label} />
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
    <ul class="flex justify-around text-xs md:text-base">
        <li>&copy Tucont</li>
        <li><a href="/politica-de-privacidade">Política de privacidade</a></li>
        <li><a href="/termos-de-uso">Termos de uso</a></li>
    </ul>
</footer>

<style>
    .bg-social-media {
        background: rgb(226,243,245);
        background: linear-gradient(135deg, rgba(226,243,245,0.2) 0%, rgba(0,0,0,0.2) 100%);
    }
</style>